/* styles go here */
/* form {
  margin: 0 2px;
} */

.form-field {
  margin: 10px 0;
  /* margin-top: 5px; */
  display: block;
}
  
fieldset {
  margin-bottom: 20px;
  margin-top: 0;
}

/* fieldset:first-of-type {
  margin-top: 0;
}

fieldset:last-child {
  margin-bottom: 0;
} */

.form-field:last-of-type {
  margin-bottom: 0;
}

.form-field:first-of-type {
  margin-top: 0;
}

button {
  margin: 10px 0;
}

/* .res {
  margin-top: 10px;
} */

/* body {
  margin: 0;
} */

/* #accept {
  margin-bottom: 0;
} */
